{% extends '::form_table_layout.html.twig' %}

{% block form_widget %}
GGGGGGGGGGGGG
<td>
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</td>
{% endblock form_widget %}
